
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Solway:wght@300&display=swap" rel="stylesheet">
    <title>Index</title>
</head>
<body>
    <div class="pres">
        <h1>FLAC</h1>
        <h2>Bienvenue sur l'application de gestion de la librairie</h2>
    </div>
    <div class="liens">
        <p class="livre">Accéder à la liste des livres : <a href="https://localhost:5001/Home/VoirLivre">ICI</a> !</p>
        <p class="employe">Accéder à la liste des employés : <a href="https://localhost:5001/Home/VoirEmploye">ICI</a> !</p>
    </div>
</body>
</html>
